@{
    ViewData["Title"] = "人员信息登记网站";
}

<div class="text-center">
    <h1 class="display-4">欢迎使用</h1>
    <p> <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">登记</a>.</p>
</div>
